:root {
	--color-blue: #87CEFA;
	--color-blue-dark: #1b2932;
	--color-dark: #333;
	--color-gray: #CCC;
	--color-silver: #C0C0C0;;
	--color-red: #FFA07A;
	--color-yellow: #FFFACD;
	--color-white: #FFF;
	--default-size: 24px;
	--small-size: 16px;
}

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	position: relative;
}

html,
body {
	background: #badbe6;
    min-height: 100% !important;
    height: 100%;
}

header {
	background: var(--color-white);
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	height: 80px;
	padding: var(--small-size);
	position: absolute;
	width: 100%;
	z-index: 10;
}

.header--challenge {
	display: flex;
	justify-content: space-between;
	max-width: 1200px;
	margin: 0 auto;
	width: 90%;
}

section {
	box-sizing: border-box;
	padding-top: 96px;
	min-height: 100%;
}

article {
	height: 100%;
	max-width: 1200px;
	margin: var(--default-size) auto 0;
	position: relative;
	width: 90%;
}

i {
	background-size: cover;
	display: block;
}

a {
	text-decoration: none;
}

footer {
	display: none;
	bottom: var(--small-size);
	position: sticky;
}

.responsive-img {
	width: 100%;
}

ul {
	list-style: none;
}

.button--dot-info {
	cursor: pointer;
	position: absolute;
	z-index: 100;
}

/*Header*/
.menu--header {
	align-items: center;
	justify-content: space-between;
	width: 200px;
}

.menu--header .menu--header-items {
	margin-right: 8px;
	text-align: center;
	width: 90%;
}

.menu--header .menu--header-items:last-child {
	margin-right: 0;
}

.menu--header li a {
	color: var(--color-dark);
	font-weight: 300;
	transition: all 0.2s ease-in;
}

.menu--header li a:hover {
	font-weight: 700;
}

.menu--header li:hover > ul {
	transition: all 0.2s ease-in;
	display:block;
}

.menu--header li ul {
	background: var(--color-white);
	border-radius: 0 0 8px 8px;
	box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.2);
	display:none;
	left: -30px;
	padding: 32px 16px 16px;
	position:absolute;
	min-width:140px;
}

.submenu--header-items {
	height: 24px;
	margin: 0 0 8px;
}

.content--submenu-category {
	background-color: transparent;
	height: auto;
	padding-bottom: 20px;
	padding-top: 80px;
}

.content--submenu-category div {
	background: rgba(255, 255, 255, 0.4);
	border-radius: 0 0 6px 6px;
	margin: 0 auto;
	max-width: 1000px;
	padding: 12px;
	width: 90%;
}

ul.submenu--category {
	display: flex;
	justify-content: center;
}

.submenu--category-item {
	margin-right: 20px;
	text-align: center;
}

.submenu--category-item a {
	color: var(--color-dark);
	font-size: 0.8rem;
	font-weight: 300;
}

.submenu--category-item a:hover {
	color: var(--color-silver);
}

/*All CSS*/
.content--logo-challenge {
	width: 100px;
}

.menu--header {
	display: none;
}

.content--default-section.category {
	padding: 0;
}

.content--default-category {
	margin-top: 0;
}

.content--text-welcome {
	left: 0;
	position: absolute;
	top: 20px;
	z-index: 100;
	width: 400px;
}
.content--text-welcome.category {
	align-items: center;
	display: flex;
}

.title--welcome {
	color: var(--color-white);
	font-size: 2.4rem;
	line-height: 2.4rem;
	margin-bottom: 12px;
}

.title--welcome.small {
	font-size: 1.4rem;
	line-height: 1.4rem;
}

.title--welcome.dark-color {
	color: var(--color-dark);
}

.title--category {
	color: var(--color-white);
	font-size: 1.4rem;
	margin-bottom: 12px;
}

.text-welcome {
	color: var(--color-dark);
	font-weight: 300;
}

.content--dot-info {
	display: block;
	height: 30px;
	position: relative;
	width: 30px;
}

.content--dot-info.mobile {
	margin: 0 auto;
}

.dot--info-border {
	animation: beat 4s infinite;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 100px;
	height: 30px;
	width: 30px;
}

.dot--info-point:hover {
	background: var(--color-silver);
}

.dot--info-point {
	background: var(--color-white);
	border-radius: 100px;
	height: 16px;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 16px;
}

.dot--info-border.mobile {
	background: rgba(192, 192, 192, 0.4);
}

.dot--info-point.mobile {
	color:var(--color-silver);
}

.content--info-mobile {
	height: 160px;
	position: absolute;
	left: 50%;
	top: 40%;
	transform: translate(-50%, -50%);
	width: 90%;
}

.title--info-mobile {
	color: #808080;
	font-size: 2rem;
	font-weight: 800;
	margin: 16px 0;
	text-align: center;
}

.text--info-mobile {
	color:var(--color-silver);
	font-size: 1rem;
	font-weight: 300;
	line-height: 1rem;
	text-align: center;
}

.content--help-footer {
	align-items: center;
	display: flex;
	flex-direction: row-reverse;
	margin-right: var(--small-size);
}

.icon--help-footer {
	background-image: url('../images/other-icons/sabias-que.png');
	cursor: pointer;
	height: 60px;
	margin-left: 2px;
	width: 60px;
}

.text--help-footer {
	color:var(--color-white);
	font-size: 0.8rem;
	font-weight: 300;
}

.content--detail-info {
	background: var(--color-white);
	border-radius: 6px;
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
	margin-top: 10px;
	opacity: 0;
	padding: 10px 16px;
	position: absolute;
	transition: all 0.2s ease-in-out;
	z-index: 100;
}

.title--detail-info {
	color: var(--color-dark);
	font-size: 0.9rem;
	margin: 0 auto 4px;
	text-align: center;
	width: 200px;
}

.text--detail-info {
	color: var(--color-dark);
	font-size: 0.9rem;
	font-weight: 300;
	margin-bottom: 8px;
	text-align: justify;
	width: 250px;
}

.text--detail-info a {
	color: var(--color-blue);
}

.content--img-bg {
	background-size: contain;
	height: 80vh;
	margin: 0 auto;
	width: 90%;
}

.animation-section {
	animation: here 4s infinite;
	opacity: 0;
}

.targetSection{
	display: none;
	padding: 0;
}

.hide{
	display: none;
}

/*Desktop*/
@media screen and (min-width: 1000px) {
	.content--info-mobile {
		display: none;
	}

	footer {
		display: block;
	}

	.menu--header {
		display: flex;
	}

	.content--img-map {
		background: url('../images/home/img--map-home.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 80vh;
		margin: 0 auto;
		width: 90%;
	}

	.content--category-img {
		margin-right: var(--small-size);
		width: 70px;
	}

	.content--img-bg.espiral {
		background: url('../images/oficina/img--espiral-office.png');
		background-repeat: no-repeat;
		background-position: center;
	}

	.content--img-category{
		background: url('../images/planetary/planetario.png');
		background-repeat: no-repeat;
		background-position: center;
		background-size: contain;
		height: 70vh;
		margin: 0 auto;
		width: 90%;
	}

	.content--img-bg.computador {
		background: url('../images/planetary/img--back-computador.jpg');
		background-position: center 9px;
		background-repeat: no-repeat;
		background-size: 120%;
		position: relative;
	}

	.content--img-bg.banco {
		background: url('../images/planetary/direccion-cobro.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.control {
		background: url('../images/planetary/direccion-controlinterno.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.parque {
		background: url('../images/heroes/heroes-menu-parque.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	section.stadium {
		background: rgba(75, 186, 122, 0.94);
	}
	.content--img-bg.stadium {
		background: url('../images/stadium/estadio.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.heroes {
		background: url('../images/heroes/Heroes.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.cade {
		background: url('../images/cade/Cade.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.library {
		background: url('../images/heroes/Heroes.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}


	.content--img-bg.americas {
		background: url('../images/americas/Americas.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.americas-documental {
		background: url('../images/americas/galeria/galeria-de-arte.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.americas-contractual {
		background: url('../images/americas/edificio.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.americas-contabilidad {
		background: url('../images/americas/contabilidad.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.americas-dircobro {
		background: url('../images/americas/caja-fuerte.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.maloka {
		background: url('../images/maloka/Maloka.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}
	.content--img-bg.palace {
		background: url('../images/palace/palacio.png');
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.board {
		background: url('../images/palace/board.jpg');
		background-position: right;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--img-bg.fastfood {
		background: url('../images/cade/comidas.png');
		background-position: left;
		background-repeat: no-repeat;
		background-size: contain;
		position: relative;
	}

	.content--text-large {
		max-height: 250px;
		overflow: scroll;
		padding-right: 12px;
	}

	.content--detail-dit	{
		color: var(--color-blue);
		left: 33%;
		position: absolute;
		text-align: center;
		top: 100px;
		transform: skew(4deg,0deg);
		transform: translate(-50% -50%);
		width: 364px;
	}

	.content--detail-dit a {
		background: var(--color-blue);
		border-radius: 100px;
		color: var(--color-white);
		display: block;
		margin: 12px auto 0;
		padding: 6px;
		transition: all 0.2s ease-in-out;
	}

	.content--detail-dit a:hover {
		background: var(--color-white);
		color: var(--color-blue);
	}

	.content--default-category.only-text {
		max-width: 70%;
	}

	.title--default-category {
		color: var(--color-white);
		font-size: 2rem;
		line-height: 2rem;
		margin: 32px auto 20px;
		text-align: center;
		width: 60%;
	}

	.title--default-category.small {
		color: var(--color-blue);
		font-size: 1.4rem;
		line-height: 1.4rem;
		margin: 0 auto 6px;
		width: 100%;
	}

	.text--default-category {
		color: var(--color-dark);
		font-weight: 300;
	}

	.text--default-category.small  {
		font-size: 0.9rem;
		line-height: 0.9rem;
	}

	.content--laptops-btn {
		display: flex;
		margin-top: 20px;
	}

	.content--detail-dit.only--text {
		left: 32%;
		top: 72px;
		width: 390px;
	}

	.content--items-buttons {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin-top: 24px;
		width: 100%;
	}

	.button--back-next {
		border-radius: 100px;
		border: 1px solid var(--color-white);
		color: var(--color-white);
		cursor: pointer;
		font-size: 1.1rem;
		font-weight: bold;
		padding: 6px 16px;
	}

	.card--text {
		background: var(--color-white);
		box-shadow: 0px 5px 15px -2px rgba(153, 153, 153, 0.2);
		border-radius: 6px;
		height: auto;
		padding: 16px;
	}

	.card--text-alpha {
		background: rgba(255, 255, 255, 0.6);
		box-shadow: 0px 5px 15px -2px rgba(153, 153, 153, 0.2);
		border-radius: 6px;
		height: auto;
		padding: 16px;
	}

	.card--text-alphabig {
		background: rgba(255, 255, 255, 0.6);
		box-shadow: 0px 5px 15px -2px rgba(153, 153, 153, 0.2);
		border-radius: 6px;
		height: auto;
		padding: 32px;
		width:770px;
	}

	.card--text-alphabig h1 {
		color: black;
	}

	.card--text.big {
		height: 520px;
	}

	.scroll--only-text {
		max-height: 500px;
		overflow: scroll;
		padding: 16px 24px 16px 16px ;
	}

	.card--text.big .title--detail-info,
	.card--text.big .text--detail-info {
		margin-bottom: 6px;
		width: 100%;

	}

	article.content--text-img {
		display: grid;
		grid-template-columns: 0.8fr 1fr;
		grid-gap: 16px;
	}
}

.hiddencat{
	display: none;
}
